body {
  font-family: "montserrat";
  text-align: center;
}

/* container fluid */
.container-fluid {
  padding: 7% 15%;
}

/* section */
.coloured-section {
  background-color: #FFFFFF;
  color: #fff;
}

.white-section {
  background-color: #000 ;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
}

/* headings */
.big-heading {
  font-family: "Alfa Slab One";
  line-height: 1.5;
  font-size: 4.1rem;
  color: Black;
}

.section-heading {
  line-height: 1.5;
  font-size: 3.5rem;
}

p {
  color: #8f8f8f;
  font-family: sans-serif;
  font-size: 1.5rem;
}

/* navigation bar */
.navbar {
  padding: 0 0 4.5rem;

}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5em;
  font-weight: bold;

}

.nav-item {
  padding-right: 20px;

}

.nav-link {
  font-size: 1rem;
  font-family: "Montserrat Alternates";
  font-weight: bold;
}


/* Download buttons */
.Download-button {
  margin: 5% 3% 5% 0;
}

/* title section */
#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* title-image */
.title-image {
  width: 120%;
  position: absolute;
  left: : 100%;
  image-resolution: from-image;
}

.big-icon {
  font-size: 110px;
}

/* featuresection */
#features {
  position: relative;
}

.feature-title {
  font-size: 2rem;
  padding: 4px;
  color: #FFFFFF;
}

.feature-box {
  padding: 5%;
}

.review{
  width: 50%;
  right:  35%;
  image-resolution: from-image;
}

#features .container-fluid{
    padding: 3% 15% 7%;


}
/* testomonial section */
#testimonials {
  background-color: #fff;
  color: #fff;
}

.testimonial-text {
  font-size: 5rem;
  line-height: 0.8;
  color: #000;
  align-items: center;
  font-family: "Fjalla One";
}

.testimonial-image {
  width: 16%;
  border-radius: 200%;
  margin: auto;
  margin-top: 50px;
  margin-right:100px;
  margin-left: 50px;
  padding: 10px;
  width: 200px;

}

#press {
  background-color: #D8D8D8;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 30px 30px 50px;
}

/* pricing section */
#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}
.section-heading{
  font-family: "Montserrat-Black";
  font-size: 4rem;
  color: white;

}

/* call to action */
.cta-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

#cta .container-fluid {
  padding: 7% 15%;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

/* footer */
#footer {
  background-color: #fff;
}

.social-icon {
  margin: 20px 10px;
}


/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
}

.login-heading {
  font-family: "Alfa Slab One";
  line-height: 0.5;
  font-size:3rem;
  color: Black;
}

/* Set a style for all buttons */
button {
  background-color: #000;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Add padding to containers */
.container {
  padding: 24px;
}

/*  "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }

}
